html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

nav ul li {
    margin: 10px;
}

nav ul li a.button {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a.button:hover,
nav ul li a.button:active {
    background-color: #fff;
    color: #ff6600;
}

#hero {
    display: flex;
    position: relative;
    height: 100vh;
}

.hero-image {
    flex: 1;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor legibilidade */
    padding: 20px;
    border-radius: 10px;
}

#services {
    padding: 40px;
    color: #fff;
}

.services-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor legibilidade */
    padding: 20px;
    border-radius: 10px;
}

#services p {
    margin-bottom: 40px; /* Aumente a margem inferior para criar mais espaço entre a descrição e a lista */
}

#services ul {
    list-style-type: disc;
    margin-left: 20px;
}

#services ul li {
    margin-bottom: 20px;
}

#courses {
    padding: 40px;
    text-align: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-frame {
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 100%; /* Ajuste a largura das imagens */
    max-width: 1000px; /* Largura máxima das imagens */
}

.image-frame img {
    width: 100%;
    height: auto;
}

.image-frame h3 {
    margin: 10px 0;
}

#about {
    padding: 40px;
    color: #fff;
}

.about-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor legibilidade */
    padding: 20px;
    border-radius: 10px;
}

#contact {
    padding: 40px;
}

footer {
    padding: 20px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 05px 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

#back-to-top:hover {
    background-color: #e55d00;
    transform: scale(1.1);
}

#back-to-top i {
    font-size: 20px;
}

@media (max-width: 600px) {
    header, nav ul, #hero, #services, #courses, #about, #contact, footer {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    #hero .logo {
        max-height: 100px;
    }

    .image-frame {
        width: 100%;
    }
}

@media (min-width: 601px) {
    #hero {
        padding: 100px;
    }

    #hero .logo {
        max-height: 100px;
    }

    #services, #courses, #about, #contact {
        padding: 40px;
    }

    footer {
        padding: 20px;
    }
}

.contact-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px; /* Aumente a margem superior para adicionar mais espaço */
}

.visit-button {
    display: inline-block;
    background-color: #c0c0c0; /* Fundo prata */
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000, -2px -2px 5px #fff; /* Bordas 3D */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.visit-button i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.visit-button:hover,
.visit-button:active {
    background-color: #b0b0b0; /* Fundo prata mais escuro ao pressionar */
    box-shadow: inset 2px 2px 5px #000, inset -2px -2px 5px #fff; /* Bordas 3D ao pressionar */
}

.instagram-button {
    display: inline-block;
    background-color: #E1306C; /* Cor do Instagram */
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #E1306C;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000, -2px -2px 5px #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.instagram-button i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.instagram-button:hover,
.instagram-button:active {
    background-color: #C13584; /* Cor mais escura do Instagram ao pressionar */
    border-color: #C13584;
}

.tiktok-button {
    display: inline-block;
    background-color: #000; /* Cor do TikTok */
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000, -2px -2px 5px #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.tiktok-button i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.tiktok-button:hover,
.tiktok-button:active {
    background-color: #333; /* Cor mais escura do TikTok ao pressionar */
    border-color: #333;
}

.whatsapp-button {
    display: inline-block;
    background-color: #25D366; /* Cor do WhatsApp */
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #25D366;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000, -2px -2px 5px #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.whatsapp-button i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.whatsapp-button:hover,
.whatsapp-button:active {
    background-color: #128C7E; /* Cor mais escura do WhatsApp ao pressionar */
    border-color: #128C7E;
}

/* Adicione margem inferior ao endereço */
#contact p {
    margin-bottom: 20px;
}