/* Global Styles */
html {
  scroll-behavior: smooth;
  font-size: 16px; /* Base font size */
}

body {
  background-color: #000;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

:root {
  --btn-color: #fff;
  --primary-color: #ff6600;
  --secondary-color: #e55d00;
  --hover-lighten: 20%;
  --hover-darken: 10%;
  --base-font-size: 16px;
}

/* Utility Classes */
* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* Responsive Font Sizes */
@media (max-width: 600px) {
  :root {
    --base-font-size: 14px;
  }
}

@media (min-width: 601px) {
  :root {
    --base-font-size: 16px;
  }
}

body {
  font-size: var(--base-font-size);
}

/* Main Container */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px; /* Add padding for content spacing */
  overflow-x: hidden; /* Ensure no horizontal overflow */
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 70vh;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: 0;
}

header h1 {
  margin: 0;
  font-size: 3em;
  position: relative;
  z-index: 1;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

nav ul li {
  margin: 10px;
}

nav ul li .space-btn {
  position: relative;
  font-family: "Electrolize", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.125em;
  line-height: 1;
  color: var(--btn-color);
  margin: 0;
  padding: 1em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.space-btn:hover {
  color: lighten(var(--btn-color), var(--hover-lighten));
}

.space-btn:focus {
  color: lighten(var(--btn-color), var(--hover-darken));
  outline: none;
}

.space-btn:active {
  color: var(--btn-color);
}

.space-btn:before,
.space-btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
}

.space-btn:before {
  top: 0;
  left: 0;
  box-shadow: inset 1px 1px 0 0 var(--btn-color);
}

.space-btn:after {
  right: 0;
  bottom: 0;
  box-shadow: inset -1px -1px 0 0 var(--btn-color);
}

.space-btn:hover:before {
  animation: hoverShadowBefore 1s forwards;
}

.space-btn:hover:after {
  animation: hoverShadowAfter 1s forwards;
}

/* Keyframes */
@keyframes hoverShadowBefore {
  0% {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
  }
  33% {
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
}

@keyframes hoverShadowAfter {
  0% {
    width: 100%;
    height: 1px;
  }
  33% {
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
}

/* Hero Section */
#hero {
  display: flex;
  position: relative;
  height: 100vh;
  margin-top: 0px;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.hero-image.left {
  animation: fadeInOut 4s ease-out infinite;
}

.hero-image.right {
  animation: fadeInOut 4s ease-out infinite;
}

.hero-image {
  position: relative;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 50px;
  z-index: 1;
}

.hero-logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero-logo img {
  max-width: 300px;
  height: auto;
  filter: invert(1);
  transition: filter 0.3s ease;
  animation: logoColorChange 4s infinite;
}

@keyframes logoColorChange {
  0%, 50% {
    filter: invert(1);
  }
  51%, 100% {
    filter: invert(0)
  }
}


@keyframes logoColorChange {
  0%, 50% {
    filter: invert(1);
  }
  51%, 100% {
    filter: invert(0)
  }
}

.hero-image:hover ~ .hero-logo img {
  filter: invert(0);
}

.hero-image {
  flex: 1;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Services Section */
#services {
  background: url('/images/car911.jpg') no-repeat center center;
  background-size: cover;
  padding: 40px;
  color: #fff;
  position: relative;
  margin-bottom: 40px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow:#000 1px 2px 1px;
}

.services-content {
  background-color: rgba(0, 0, 0, 0.5);
}

#services p {
  margin-bottom: 40px;
}

#services ul {
  list-style-type: disc;
  margin-left: 20px;
}

#services ul li {
  margin-bottom: 20px;
}

/* Courses Section */
#courses {
  padding: 0 40px 40px 40px;
  text-align: center;
}

#courses h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  text-decoration: underline;
  margin-bottom: 0;
}

.image-frame {
  margin: 20px 0;
  margin-bottom: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: auto;
}

.image-frame img {
  width: 100%;
  height: auto;
}

.image-frame h3 {
  margin: 10px 0;
}

/* About Section */
#about {
  background: url('/images/casal.jpg') no-repeat center center;
  background-size: cover;
  padding: 40px;
  color: #fff;
}

.about-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

/* Contact Section */
#contact {
  background: linear-gradient(rgba(0, 0, 50, 0), rgba(0, 0, 50, 0)), url('/images/workshopintro.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  margin-top: 0px;
  color: #fff;
}

#contact p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow:#000 2px 2px 2px;
}

/* Footer */
#footer {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  background-color: #000;
}

#footer p {
  margin: 20px 0 10px;
  padding-right: 20px;
  text-align: right;
  width: 100%;
}

.footer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

/* Back to Top Button */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 3px 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

#back-to-top:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

#back-to-top i {
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 600px) {
  header,
  nav ul,
  #hero,
  #services,
  #courses,
  #about,
  #contact {
    margin-top: 0;
  }

  header h1 {
    margin: 0;
  }

  footer {
    padding: 10px;
  }

  #footer p {
    padding-right: 10px;
    text-align: right;
  }

  nav ul {
    gap: 40px;
    margin-top: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    height: auto;
  }

  nav ul li {
    margin: 5px 0;
  }

  .image-frame {
    width: 100%;
  }
}

@media (min-width: 601px) {
  #hero {
    padding: 100px;
  }

  #services,
  #courses,
  #about,
  #contact {
    padding: 40px;
  }

  footer {
    padding: 20px;
  }
}

/* Contact Buttons */
.contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.contact-buttons a {
  margin-bottom: 0px;
}

.visit-button,
.instagram-button,
.tiktok-button,
.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #000, -2px -2px 5px #fff;
  transition: all 0.3s ease;
}

.visit-button {
  background-color: #c0c0c0;
  color: #000;
  border: 2px solid #000;
}

.visit-button:hover,
.visit-button:active {
  background-color: #b0b0b0;
  border-color: #fff;
}

.instagram-button {
  background-color: #e1306c;
  color: #fff;
  border: 2px solid #e1306c;
}

.instagram-button:hover,
.instagram-button:active {
  background-color: #c13584;
  border-color: #c13584;
}

.tiktok-button {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}

.tiktok-button:hover,
.tiktok-button:active {
  background-color: #333;
  border-color: #333;
}

.whatsapp-button {
  background-color: #25d366;
  color: #fff;
  border: 2px solid #25d366;
}

.whatsapp-button:hover,
.whatsapp-button:active {
  background-color: #128c7e;
  border-color: #128c7e;
}
